{% extends 'base.html' %} {% block content %} 

{% if profile %}
<h1>My Profile</h1>


<div class="card">
  <div class="card-content">
    <span class="card-title">
      <h5>First Name: {{ profile.user.first_name }}</h5>
      <h5>Last Name: {{ profile.user.last_name }}</h5>
      <h5>Phone: {{ profile.phone }}</h5>
      <h5>Address: {{ profile.address }}</h5>
      <h5>Credit card number: {{ profile.credit_card }}</h5>
      <button class="btn">
        <a href="{% url 'profile_update' profile.id %}">Edit Profile</a>
      </button>
      <hr />
    </span>
  </div>
</div>

<h1>Pets</h1>
<div class="row">
  <div class="col s6">
    {% for pet in profile.pet_set.all %}
    <div class="card">
      <div class="card-content">
        <h5>Name: {{pet.name}}</h5>
        <h5>Type: {{pet.get_type_display}}</h5>
        <h5>Breed: {{pet.breed}}</h5>
        <h5>Description: {{pet.description}}</h5>
        <a href="{% url 'edit_pet' pet.id %}">edit</a> |
        <a href="{% url 'delete_pet' pet.id %}">delete</a>
      </div>
      {% if pet.photo %}
      <img class="responsive-img card-panel" src="{{pet.photo.url}}">
      {% else %}
      <div class="card-panel teal-text center-align">No Photo Uploaded</div>
      {% endif %}
      <form action="{% url 'add_pet_photo' pet.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <input type="submit" class="btn" value="Upload Photo">
        {% if pet.photo %}
        <a href="{% url 'delete_pet_photo' pet.id %}">delete photo</a>
        {% endif %}
    </form>
    </div>
    {% endfor %}
  </div>
  <div class="col s6">
    <form action="{% url 'add_pet' profile.id %}" method="post">
      {% csrf_token %} {{ pet_form.as_p }}
      <input type="submit" class="btn" value="Add Pet" />
    </form>
  </div>
</div>
{% else %}

<div class="card">
  <div class="card-content">
    <h4>No profile yet! Create one <span><a href="{% url 'profile_create' %}">here</a></span>.</h4>
  </div>
</div>


{% endif %}

<script>
  var selectEl = document.getElementById("id_type");
  M.FormSelect.init(selectEl);
</script>
{% endblock %}
