{% extends 'base.html' %}

{% block content %}

{% if object %}
<h1>Edit Reservation <span class="teal-text">{{object.id}}</span></h1>
{% else %}
<h1>Add Reservation</h1>
  {% if room %}
  <h2>{{room.name}}</h2>
  {% endif %}
{% endif %}

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
{% if funny_message %}<p class="yellow-text">{{ funny_message }}</p>{% endif %}
{% if alternate_funny_message %}<p class="purple-text">{{ alternate_funny_message }}</p>{% endif %}
{% if days_error_message %}<p class="blue-text">{{ days_error_message }}</p>{% endif %}

  <form action="" method="post">
    {% csrf_token %}
    <ul>
      {{ form.as_ul }}
      </ul>
    <input type="submit" value="Submit!" class="btn">
  </form>

<script>
    var close = {{ bookedDays }}

    var dateEl = document.getElementById('id_date_from');
    window.M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        // defaultDate: new Date(),
        // minDate: new Date(),
        disableDayFn: function(date) {
          for (i = 0; i < close.length; i++){
            const d = close[i];
            if(d[0] === date.getFullYear() && d[1] === date.getMonth() && d[2] === date.getDate()){
              return true;
            }
          }
          return false;
        },
        // setDefaultDate: true,
        autoClose: true
    });
    var dateEl = document.getElementById('id_date_to');
    window.M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        // defaultDate: new Date(),
        // minDate: new Date(),
        disableDayFn: function(date) {
          for (i = 0; i < close.length; i++){
            const d = close[i];
            if(d[0] === date.getFullYear() && d[1] === date.getMonth() && d[2] === date.getDate()){
              return true;
            }
          }
          return false;
        },
        // setDefaultDate: true,
        autoClose: true
    });
</script>

{% endblock %}