{% extends 'base.html' %}
{% block content %} 

    <h1>All Reservations</h1>
    {% if reservation_list|length < 1 %}
    <h2>You don't have any reservations yet!</h2>
    {% else %}

    <h2>Future reservations</h2>
    <div class="card">
        {% for reservation in reservation_list %}
        {% if reservation.date_from >= date %}
        <div class="card-content">
            <span class="card-title">Reservation from {{reservation.date_from}} to {{reservation.date_to}}</span>
            <p>Reservation number: {{reservation.id}}</p>
        </div>
        <div class="card-action">
            <a href="{%url 'reservation_detail' reservation.id%}">Details</a>
        </div>
        <hr>
        {% endif %}
        {% endfor %}
    </div>

    
    <h2>Past reservations</h2>
    <div class="card">
        {% for reservation in reservation_list %}
        {% if reservation.date_from < date %}
        <div class="card-content">
            <span class="card-title">Reservation from {{reservation.date_from}} to {{reservation.date_to}}</span>
            <p>Reservation number: {{reservation.id}}</p>
        </div>
        <div class="card-action">
            <a href="{%url 'reservation_detail' reservation.id%}">Details</a>
        </div>
        <hr>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</body>

{% endblock %}