<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <h1>Room's list</h1>

    {% for room in room_list %}
    <div class="card">
        <a href="{% url 'room_detail' room.id %}">
        <div class="card-content">

            <span class="card-title">{{room.name}}</span>
            <p>Capacity: {{room.capacity}}</p>
            <p>Price per night: {{room.price}}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'room_detail' room.id %}">Details</a>
        </div>
        </a>
    </div>
    {% endfor %}
</body>

</html>