{% extends 'base.html' %}
{% block content %} 

    <h1>All Rooms</h1>

    {% for room in room_list %}
    <div class="card">
        <a href="{% url 'room_detail' room.id %}">
        <div class="card-content">

            <span class="card-title">{{room.name}}</span>
            <p>Capacity (people): {{room.people_capacity}}</p>
            <p>Capacity (pets): {{room.pets_capacity}}</p>
            <p>Price per night: ${{room.price}} (CAD)</p>
        </div>
        <div id= "cardaction" class="card-action">
            <a id="detail" href="{% url 'room_detail' room.id %}">Details</a>
        </div>
        </a>
    </div>
    {% endfor %}
</body>

{% endblock %}